@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');


body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;

}

#map {
    height: 100%;
    width: 100vw;
}

#map .leaflet-tile-pane {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}